
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../../static/assets/img/edit-bg.jpg')"
>

</header>

<main class="mb-4">
  <div class="container">
    <div class="row">

<div class="col-lg-8 col-md-10 mx-auto">

<form method="POST" action="{{ url_for('fill_items', shop_id=form.shop_id.data, num_items=num_items) }}">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <div class="form-group">
            {{ field.label(class="form-control-label") }}
            {{ field(class="form-control") }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>


    </div>
  </div>
</main>
{% include "footer.html" %} {% endblock %}

