<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Update Items</h2>

        <form method="POST" action="{{ url_for('update_items', shop_id=shop.id) }}">
            {{ form.hidden_tag() }}

            <!-- Loop through dynamic fields -->
            {% for field in form %}
                <div class="form-group">
<!--                    <label for="{{ field.id }}">{{ field.label.text }}</label>-->
                  {{ field.label(class="form-control-label") }}
                    {{ field(class="form-control") }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Update Items</button>
        </form>

    </div>
</body>
</html>
